In [2]:
import pandas as pd
import numpy as np
import datetime

In [6]:
today = pd.Timestamp.today()

In [7]:
today

Timestamp('2022-10-24 21:16:09.379932')

In [13]:
n = 100

In [17]:
timeList = [today + datetime.timedelta(milliseconds=x) for x in range(n)]

In [35]:
today_plus = today + datetime.timedelta(microseconds=222)

In [38]:
timeList2 = [today_plus + datetime.timedelta(milliseconds=x*2) for x in range(50)]

In [ ]:
dataList = pd.util.testing.rands_array(10, 100)
dataList

In [ ]:
dataList2 = pd.util.testing.rands_array(10, 50)
dataList2

In [24]:
df1 = pd.DataFrame({'hoge_TIMESTAMP': timeList,
                   'hoge': dataList,
                  })

In [39]:
df2 = pd.DataFrame({'fuga_TIMESTAMP': timeList2,
                   'fuga': dataList2,
                  })

In [40]:
display(df1, df2)

               hoge_TIMESTAMP        hoge
0  2022-10-24 21:16:09.379932  XJANwpiakM
1  2022-10-24 21:16:09.380932  vNP9tAPU5S
2  2022-10-24 21:16:09.381932  1PHJAV4DMu
3  2022-10-24 21:16:09.382932  SUAusXwHWv
4  2022-10-24 21:16:09.383932  KuwyDPhP2W
..                        ...         ...
95 2022-10-24 21:16:09.474932  wz7n9ZPGyz
96 2022-10-24 21:16:09.475932  RK5M6cOVwu
97 2022-10-24 21:16:09.476932  WznWPqZvrR
98 2022-10-24 21:16:09.477932  16ouszlbFp
99 2022-10-24 21:16:09.478932  WxezHrSu0c

[100 rows x 2 columns]

               fuga_TIMESTAMP        fuga
0  2022-10-24 21:16:09.380154  XeCqdf6jAz
1  2022-10-24 21:16:09.382154  U2unqeNpLL
2  2022-10-24 21:16:09.384154  kzg2WNbPUG
3  2022-10-24 21:16:09.386154  mQ3TSRXAZB
4  2022-10-24 21:16:09.388154  SPB4DwHZ17
5  2022-10-24 21:16:09.390154  sQQxGhdsx8
6  2022-10-24 21:16:09.392154  T7842H7AXL
7  2022-10-24 21:16:09.394154  30JwRdHZsi
8  2022-10-24 21:16:09.396154  0T2SJnAMt0
9  2022-10-24 21:16:09.398154  KFFTfESKhJ
10 2022-10-24 21:16:09.400154  3vxcAzmBRj
11 2022-10-24 21:16:09.402154  MKGSv6p8VJ
12 2022-10-24 21:16:09.404154  LWANy4IrTH
13 2022-10-24 21:16:09.406154  WVx3qtEkI6
14 2022-10-24 21:16:09.408154  C9RzZBLpWT
15 2022-10-24 21:16:09.410154  ilwo3skQZo
16 2022-10-24 21:16:09.412154  Gd1jzURqPs
17 2022-10-24 21:16:09.414154  OGS9YxFDFa
18 2022-10-24 21:16:09.416154  YdZGoAu4zC
19 2022-10-24 21:16:09.418154  VjOwBYIA7o
20 2022-10-24 21:16:09.420154  LyuZ0TMolo
21 2022-10-24 21:16:09.422154  h4UAo54HJh
22 2022-10-24 21:16:09.424154  BwVL2qmRsZ
23 2022-10-24 21:16:09.426154  tcl0vfO4F7
24 2022-10-24 21:16:09.428154  itIE1AGHmx
25 2022-10-24 21:16:09.430154  pZ6MUR0Wg7
26 2022-10-24 21:16:09.432154  vcLLNrCDNm
27 2022-10-24 21:16:09.434154  7MH6PzbHgc
28 2022-10-24 21:16:09.436154  ZCGmcXjsr9
29 2022-10-24 21:16:09.438154  QgnU4tl1LS
30 2022-10-24 21:16:09.440154  uvf0oNCYQ6
31 2022-10-24 21:16:09.442154  DAx7zuy1cr
32 2022-10-24 21:16:09.444154  4yYA0nYjTF
33 2022-10-24 21:16:09.446154  mbiawCx2e5
34 2022-10-24 21:16:09.448154  mYCncyVqeo
35 2022-10-24 21:16:09.450154  6MBZtllQdl
36 2022-10-24 21:16:09.452154  5pVhR7r8VO
37 2022-10-24 21:16:09.454154  5xdMBUk8Fe
38 2022-10-24 21:16:09.456154  gU4oaNn58R
39 2022-10-24 21:16:09.458154  Q81jbBECes
40 2022-10-24 21:16:09.460154  M5WpnZYf6b
41 2022-10-24 21:16:09.462154  03DYT46wae
42 2022-10-24 21:16:09.464154  nBhpJ5qnS7
43 2022-10-24 21:16:09.466154  xSyUgehIOV
44 2022-10-24 21:16:09.468154  daPrG0InIW
45 2022-10-24 21:16:09.470154  JO080fs19t
46 2022-10-24 21:16:09.472154  ocs5JxuZLD
47 2022-10-24 21:16:09.474154  p9sfGtoXrF
48 2022-10-24 21:16:09.476154  bInSqMCG98
49 2022-10-24 21:16:09.478154  YGibASXHiB

In [42]:
ans = pd.concat([df1, df2], axis=1)

In [43]:
ans.to_csv("dummy.csv")

In [283]:
# 読み込み
data = pd.read_csv("dummy.csv", index_col=0)

# 下三桁にする

In [287]:
data

,hoge_TIMESTAMP,hoge,fuga_TIMESTAMP,fuga,TIMESTAMP
0,2022-10-24 21:16:09.379932,XJANwpiakM,2022-10-24 21:16:09.380154,XeCqdf6jAz,2022-10-24 21:16:09.379932
1,2022-10-24 21:16:09.380932,vNP9tAPU5S,2022-10-24 21:16:09.382154,U2unqeNpLL,2022-10-24 21:16:09.380932
2,2022-10-24 21:16:09.381932,1PHJAV4DMu,2022-10-24 21:16:09.384154,kzg2WNbPUG,2022-10-24 21:16:09.381932
3,2022-10-24 21:16:09.382932,SUAusXwHWv,2022-10-24 21:16:09.386154,mQ3TSRXAZB,2022-10-24 21:16:09.382932
4,2022-10-24 21:16:09.383932,KuwyDPhP2W,2022-10-24 21:16:09.388154,SPB4DwHZ17,2022-10-24 21:16:09.383932
...,...,...,...,...,...
95,2022-10-24 21:16:09.474932,wz7n9ZPGyz,NaN,NaN,2022-10-24 21:16:09.474932
96,2022-10-24 21:16:09.475932,RK5M6cOVwu,NaN,NaN,2022-10-24 21:16:09.475932
97,2022-10-24 21:16:09.476932,WznWPqZvrR,NaN,NaN,2022-10-24 21:16:09.476932
98,2022-10-24 21:16:09.477932,16ouszlbFp,NaN,NaN,2022-10-24 21:16:09.477932
99,2022-10-24 21:16:09.478932,WxezHrSu0c,NaN,NaN,2022-10-24 21:16:09.478932

In [286]:
data["TIMESTAMP"] = data["hoge_TIMESTAMP"]

In [278]:
pd.merge(data.iloc[:, 0:2], data.iloc[:, 2:4], how="inner", on="TIMESTAMP")

KeyError: 'TIMESTAMP'

In [99]:
type(data.columns.values)

numpy.ndarray

In [260]:
ef = 3
# 最小のサンプリング数を取得する
minLabel = data.filter(regex='TIMESTAMP$', axis=1).applymap(
    lambda x : 
        x if pd.isna(x) else x[:-ef]
    ).apply(
    lambda x : 
        pd.to_datetime(x)
    ).diff().min().idxmin()
minLabel

'hoge_TIMESTAMP'

In [266]:
pd.merge(data, data.filter(regex='TIMESTAMP$', axis=1).applymap(
    lambda x : 
        x if pd.isna(x) else x[:-ef]
    ))

Empty DataFrame
Columns: [hoge_TIMESTAMP, hoge, fuga_TIMESTAMP, fuga]
Index: []

In [259]:
#最小サンプリング数のタイムスタンプをもとにマージする？
final = pd.DataFrame(
    data={"TIMESTAMP" : data[minLabel]}
)
final

                     TIMESTAMP
0   2022-10-24 21:16:09.379932
1   2022-10-24 21:16:09.380932
2   2022-10-24 21:16:09.381932
3   2022-10-24 21:16:09.382932
4   2022-10-24 21:16:09.383932
..                         ...
95  2022-10-24 21:16:09.474932
96  2022-10-24 21:16:09.475932
97  2022-10-24 21:16:09.476932
98  2022-10-24 21:16:09.477932
99  2022-10-24 21:16:09.478932

[100 rows x 1 columns]

In [200]:
data.iloc[:, 2][90]

nan

In [133]:
# 列を受け取り、削る関数
def hoge(x):
    return pd.to_datetime(x.iloc[:, 0].apply(lambda y: y[:-3]))

In [84]:
pd.to_datetime(data.loc[:, "fuga_TIMESTAMP"], errors="coerce")

0    2022-10-24 21:16:09.380154
1    2022-10-24 21:16:09.382154
2    2022-10-24 21:16:09.384154
3    2022-10-24 21:16:09.386154
4    2022-10-24 21:16:09.388154
                ...
95                          NaT
96                          NaT
97                          NaT
98                          NaT
99                          NaT
Name: fuga_TIMESTAMP, Length: 100, dtype: datetime64[ns]

In [86]:
data.loc[:, "fuga_TIMESTAMP"]

0     2022-10-24 21:16:09.380154
1     2022-10-24 21:16:09.382154
2     2022-10-24 21:16:09.384154
3     2022-10-24 21:16:09.386154
4     2022-10-24 21:16:09.388154
                 ...
95                           NaN
96                           NaN
97                           NaN
98                           NaN
99                           NaN
Name: fuga_TIMESTAMP, Length: 100, dtype: object