In [288]:
import pandas as pd
import numpy as np
import datetime

In [291]:
today = pd.Timestamp.today()

In [292]:
today

Timestamp('2022-10-25 21:02:14.992630')

In [293]:
n = 100

In [294]:
timeList = [today + datetime.timedelta(milliseconds=x) for x in range(n)]

In [295]:
today_plus = today + datetime.timedelta(microseconds=222)

In [296]:
timeList2 = [today_plus + datetime.timedelta(milliseconds=x*2) for x in range(50)]

In [315]:
#dataList = pd.util.testing.rands_array(10, 100)
dataList = np.random.randint(5,30,size=100)
dataList

array([24,  9, 18, 20,  8, 25,  7, 10, 11,  9, 24, 13, 19, 28, 11,  6, 24,
       28, 25, 17, 27, 28, 28, 13, 27, 25, 26,  8, 17, 22,  6, 14, 29,  8,
       26,  5,  9, 25, 21,  7, 23,  7,  8,  7, 28, 20, 20, 14, 22, 25, 16,
       17, 17, 27, 29, 28, 28,  7, 25, 10, 21, 26, 11, 22,  8,  5, 24, 25,
       15,  9, 18,  7, 10, 21, 17, 26, 26,  6, 16,  9,  6, 18, 11,  7,  7,
        8, 15, 11, 13, 23,  6, 26, 22, 11, 10, 29, 28, 16, 21,  9])

In [314]:
#dataList2 = pd.util.testing.rands_array(10, 50)
dataList2 = np.random.randint(5,30,size=100)
dataList2

array([13, 25, 19, 14, 28,  9, 24, 28, 19, 25, 20, 15, 23, 29, 19, 16, 11,
        7, 21,  5, 27, 20, 24,  7, 13, 20, 19, 22, 29, 10, 19,  9, 20, 21,
       17, 28, 11, 14, 22, 29, 21,  8,  9, 16, 20,  7, 17,  7, 25, 11,  8,
       16, 13, 24, 29, 26,  7, 16, 13,  5, 12, 28,  9, 20, 26, 12, 22, 23,
       10, 25, 23, 22,  6,  8, 28, 13, 25,  5, 11, 29, 27,  6, 17, 14,  9,
       27, 12,  6,  6, 28, 12, 10, 21, 24, 25, 14, 26, 24, 19, 16])

In [305]:
df1 = pd.DataFrame({'hoge_TIMESTAMP': timeList,
                   'hoge': dataList,
                  })

In [308]:
df2 = pd.DataFrame({'fuga_TIMESTAMP': timeList2,
                   'fuga': dataList,
                  })

In [301]:
display(df1, df2)

               hoge_TIMESTAMP  hoge
0  2022-10-25 21:02:14.992630     6
1  2022-10-25 21:02:14.993630    13
2  2022-10-25 21:02:14.994630     7
3  2022-10-25 21:02:14.995630    25
4  2022-10-25 21:02:14.996630    14
..                        ...   ...
95 2022-10-25 21:02:15.087630     7
96 2022-10-25 21:02:15.088630    23
97 2022-10-25 21:02:15.089630    16
98 2022-10-25 21:02:15.090630    16
99 2022-10-25 21:02:15.091630    25

[100 rows x 2 columns]

               fuga_TIMESTAMP  fuga
0  2022-10-25 21:02:14.992852    10
1  2022-10-25 21:02:14.994852    19
2  2022-10-25 21:02:14.996852    21
3  2022-10-25 21:02:14.998852    21
4  2022-10-25 21:02:15.000852    21
5  2022-10-25 21:02:15.002852    10
6  2022-10-25 21:02:15.004852    23
7  2022-10-25 21:02:15.006852     9
8  2022-10-25 21:02:15.008852    29
9  2022-10-25 21:02:15.010852     5
10 2022-10-25 21:02:15.012852    23
11 2022-10-25 21:02:15.014852    15
12 2022-10-25 21:02:15.016852    24
13 2022-10-25 21:02:15.018852    23
14 2022-10-25 21:02:15.020852    22
15 2022-10-25 21:02:15.022852     6
16 2022-10-25 21:02:15.024852    11
17 2022-10-25 21:02:15.026852    23
18 2022-10-25 21:02:15.028852    13
19 2022-10-25 21:02:15.030852    26
20 2022-10-25 21:02:15.032852    26
21 2022-10-25 21:02:15.034852    19
22 2022-10-25 21:02:15.036852     8
23 2022-10-25 21:02:15.038852    10
24 2022-10-25 21:02:15.040852    23
25 2022-10-25 21:02:15.042852    11
26 2022-10-25 21:02:15.044852    19
27 2022-10-25 21:02:15.046852    14
28 2022-10-25 21:02:15.048852    24
29 2022-10-25 21:02:15.050852    18
30 2022-10-25 21:02:15.052852    22
31 2022-10-25 21:02:15.054852    26
32 2022-10-25 21:02:15.056852     5
33 2022-10-25 21:02:15.058852    29
34 2022-10-25 21:02:15.060852    14
35 2022-10-25 21:02:15.062852    27
36 2022-10-25 21:02:15.064852    17
37 2022-10-25 21:02:15.066852    21
38 2022-10-25 21:02:15.068852    17
39 2022-10-25 21:02:15.070852    23
40 2022-10-25 21:02:15.072852    19
41 2022-10-25 21:02:15.074852    16
42 2022-10-25 21:02:15.076852    26
43 2022-10-25 21:02:15.078852     6
44 2022-10-25 21:02:15.080852    23
45 2022-10-25 21:02:15.082852    14
46 2022-10-25 21:02:15.084852    19
47 2022-10-25 21:02:15.086852    24
48 2022-10-25 21:02:15.088852    12
49 2022-10-25 21:02:15.090852    23

In [316]:
df3 = pd.DataFrame({'fuga_TIMESTAMP': timeList,
                   'fuga': dataList,
                   "huga": dataList2
                  })

In [318]:
ans = df3
ans.head()

              fuga_TIMESTAMP  fuga  huga
0 2022-10-25 21:02:14.992630    24    13
1 2022-10-25 21:02:14.993630     9    25
2 2022-10-25 21:02:14.994630    18    19
3 2022-10-25 21:02:14.995630    20    14
4 2022-10-25 21:02:14.996630     8    28

In [319]:
ans.to_csv("dummy.csv")

In [283]:
# 読み込み
data = pd.read_csv("dummy.csv", index_col=0)

# 下三桁にする

In [287]:
data

,hoge_TIMESTAMP,hoge,fuga_TIMESTAMP,fuga,TIMESTAMP
0,2022-10-24 21:16:09.379932,XJANwpiakM,2022-10-24 21:16:09.380154,XeCqdf6jAz,2022-10-24 21:16:09.379932
1,2022-10-24 21:16:09.380932,vNP9tAPU5S,2022-10-24 21:16:09.382154,U2unqeNpLL,2022-10-24 21:16:09.380932
2,2022-10-24 21:16:09.381932,1PHJAV4DMu,2022-10-24 21:16:09.384154,kzg2WNbPUG,2022-10-24 21:16:09.381932
3,2022-10-24 21:16:09.382932,SUAusXwHWv,2022-10-24 21:16:09.386154,mQ3TSRXAZB,2022-10-24 21:16:09.382932
4,2022-10-24 21:16:09.383932,KuwyDPhP2W,2022-10-24 21:16:09.388154,SPB4DwHZ17,2022-10-24 21:16:09.383932
...,...,...,...,...,...
95,2022-10-24 21:16:09.474932,wz7n9ZPGyz,NaN,NaN,2022-10-24 21:16:09.474932
96,2022-10-24 21:16:09.475932,RK5M6cOVwu,NaN,NaN,2022-10-24 21:16:09.475932
97,2022-10-24 21:16:09.476932,WznWPqZvrR,NaN,NaN,2022-10-24 21:16:09.476932
98,2022-10-24 21:16:09.477932,16ouszlbFp,NaN,NaN,2022-10-24 21:16:09.477932
99,2022-10-24 21:16:09.478932,WxezHrSu0c,NaN,NaN,2022-10-24 21:16:09.478932

In [286]:
data["TIMESTAMP"] = data["hoge_TIMESTAMP"]

In [278]:
pd.merge(data.iloc[:, 0:2], data.iloc[:, 2:4], how="inner", on="TIMESTAMP")

KeyError: 'TIMESTAMP'

In [99]:
type(data.columns.values)

numpy.ndarray

In [260]:
ef = 3
# 最小のサンプリング数を取得する
minLabel = data.filter(regex='TIMESTAMP$', axis=1).applymap(
    lambda x : 
        x if pd.isna(x) else x[:-ef]
    ).apply(
    lambda x : 
        pd.to_datetime(x)
    ).diff().min().idxmin()
minLabel

'hoge_TIMESTAMP'

In [266]:
pd.merge(data, data.filter(regex='TIMESTAMP$', axis=1).applymap(
    lambda x : 
        x if pd.isna(x) else x[:-ef]
    ))

Empty DataFrame
Columns: [hoge_TIMESTAMP, hoge, fuga_TIMESTAMP, fuga]
Index: []

In [259]:
#最小サンプリング数のタイムスタンプをもとにマージする？
final = pd.DataFrame(
    data={"TIMESTAMP" : data[minLabel]}
)
final

                     TIMESTAMP
0   2022-10-24 21:16:09.379932
1   2022-10-24 21:16:09.380932
2   2022-10-24 21:16:09.381932
3   2022-10-24 21:16:09.382932
4   2022-10-24 21:16:09.383932
..                         ...
95  2022-10-24 21:16:09.474932
96  2022-10-24 21:16:09.475932
97  2022-10-24 21:16:09.476932
98  2022-10-24 21:16:09.477932
99  2022-10-24 21:16:09.478932

[100 rows x 1 columns]

In [200]:
data.iloc[:, 2][90]

nan

In [133]:
# 列を受け取り、削る関数
def hoge(x):
    return pd.to_datetime(x.iloc[:, 0].apply(lambda y: y[:-3]))

In [84]:
pd.to_datetime(data.loc[:, "fuga_TIMESTAMP"], errors="coerce")

0    2022-10-24 21:16:09.380154
1    2022-10-24 21:16:09.382154
2    2022-10-24 21:16:09.384154
3    2022-10-24 21:16:09.386154
4    2022-10-24 21:16:09.388154
                ...
95                          NaT
96                          NaT
97                          NaT
98                          NaT
99                          NaT
Name: fuga_TIMESTAMP, Length: 100, dtype: datetime64[ns]

In [86]:
data.loc[:, "fuga_TIMESTAMP"]

0     2022-10-24 21:16:09.380154
1     2022-10-24 21:16:09.382154
2     2022-10-24 21:16:09.384154
3     2022-10-24 21:16:09.386154
4     2022-10-24 21:16:09.388154
                 ...
95                           NaN
96                           NaN
97                           NaN
98                           NaN
99                           NaN
Name: fuga_TIMESTAMP, Length: 100, dtype: object

### BOKEH

https://docs.bokeh.org/en/latest/docs/first_steps/first_steps_1.html

In [403]:
target = "fuga"
dataY = ans[target]
dataX = ans["huga"]

In [379]:
from bokeh.plotting import figure, show
from bokeh.models import DatetimeTickFormatter

In [324]:
# prepare some data
x = [1, 2, 3, 4, 5]
y = [6, 7, 2, 4, 5]

In [395]:
timestamp = ans["fuga_TIMESTAMP"]

In [404]:
# tooltips設定
TOOLTIPS = [
    ("index", "$index"),
    ("(x,y)", "(@x, @y)"),
    ("timestamp", "@timestamp"),
    ("label", "@label"),
]

In [405]:
# create a new plot with a title and axis labels
#p = figure(title="Simple line example", x_axis_label='timestamp', y_axis_label=target, tooltips=TOOLTIPS)
p = figure(title="Simple line example", x_axis_label='timestamp', y_axis_label=target, tooltips=TOOLTIPS)

In [351]:
#p.line(x, y, legend_label="Temp.", line_width=2)

GlyphRenderer(id='2682', ...)

In [407]:
p.circle(
    dataX,
    dataY,
    legend_label="Objects",
    fill_color="red",
    fill_alpha=0.5,
    line_color="blue",
    size=10,
)

GlyphRenderer(id='4690', ...)

In [409]:
p.xaxis.formatter=DatetimeTickFormatter(
    )

In [377]:
dataX[0]

Timestamp('2022-10-25 21:02:14.992630')

In [410]:
show(p)